<style>
* {margin: 0;padding: 0;font-family: "맑은고딕";text-decoration: none;letter-spacing: 0px;font-style: normal;}
ul, ol {list-style: none;margin:0; padding:0;}

/* 페이지 전체 */
.wrap {width: 100%;font-size: 14px;font-weight: bold;}


/* 헤더영역 */
.header {width: 100%;height: 100px;border: noe;background: #1D375F;overflow: hidden;}
.header .inner {width: 1100px;;margin:0 auto;}
.header ul {background: #1D375F;height: 50px;list-style: none;}
.header li {float: left;}
.header li a {color: #FFFFFF;display: block;font-weight: normal;line-height: 49px;padding: 1px 25px;}
.header li a:hover, .header ul li:hover a {background: #636363;color: #FFFFFF;}
.header li:hover ul {display: block;}
.header li:hover li a {background: none;}
.header li ul {background: #1D375F;display: none;height: auto;position: absolute;z-index: 999;}
.header li li a, .header li li {background: #1D375F;display: block;float: none;min-width: 135px;}
.header li ul a {display: block;height: 50px;font-size: 12px;font-style: normal;padding: 0px 10px 0px 15px;text-align: left;}
.header li ul a:hover, .header li ul li:hover a {background: #636363;border: 0px;color: #ffffff;}

.menuLogo {float: left;width: 100px;padding:12px 0 0 0;}
.menuLogo a {display: block;}
.menuLogo img {width : 100%;}
.menuItem {float: right;}

/* 본문전체 */
.container {width:1100px;min-height:800px;margin:0 auto;}

/* 왼쪽메뉴 */
.leftMenu {width: 200px;float: left;padding-top: 50px;}
.leftMenu ul.sub li {margin-bottom: 2px;height: 35px;line-height: 35px;background: #f4f4f4;cursor: pointer;padding-left: 20px;}
.leftMenu ul.sub li a {display: block;width: 100%;height: 100%;text-decoration: none;color: #000;}
.leftMenu ul.sub li:hover {background: #cf0;}
.leftMenu ul li.group {margin-bottom: 3px;}
.leftMenu ul li.group div.title {height: 35px;line-height: 35px;background: #9ab92e;cursor: pointer;padding-left: 10px;}

/* 컨텐층영역 */
.content {width: 800px;float: left;padding:50px;}


/* 푸터영역 */

</style>
